.header {
    background-color: lightcyan;
    width: 98%;
    text-align: center;
}

.nav {
    width: 98%;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px solid #cccccc;
    margin-bottom: 10px;
    text-align: center;
   
}

.nav ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0 auto;
 

}

.nav ul li {
    /*float: left;
    margin-right: 100px;
    display: block;
    line-height: 30px;*/
    font-weight: bold;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
    
}

.leftsection {
    float:left;
    width: 70%;
    background-color: gray;
    text-align: center;

}

.rightsection {
    float: right;
    width: 30%;
    background-color: yellow;
    height: 100%;
    }

.article {
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    width: 90%;
    margin: 10px 10px 10px 10px;

}

.sidemenu {
    border-radius: 10px;
    background-color:#f3f3f3;
    width: 80%;
    margin-left: 20px;
}

.footer {
    float: left;
    width: 98%;
    text-align: centre;
    margin: 20px auto;
    text-align: center;
}